SimResult/
Result/
middle/
obj/
MeanMiddle/
MeanReasult/
knn_5_10_20/
knn_5_20/
knn_10_20_40/
knn_10_20/
eigen3/
dugdata/
3-3-0/
4-4-0/
5-5-0/
6-6-0/
7-7-0/
8-8-0/
9-9-0/
bin/
1-1-0/
2-2-0/
10-10-0/
--1/
*.lib
*.dll
*.txt
